parameters:
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\>\" between 0 and 0 is always false\\.$#"
			count: 1
			path: src/Logchecker.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/Logchecker.php

		-
			message: "#^Property OrpheusNET\\\\Logchecker\\\\Logchecker\\:\\:\\$ARSummary is never read, only written\\.$#"
			count: 1
			path: src/Logchecker.php

		-
			message: "#^Property OrpheusNET\\\\Logchecker\\\\Logchecker\\:\\:\\$ARTracks is never read, only written\\.$#"
			count: 1
			path: src/Logchecker.php
